.list {
    width: "auto";
    align-self: center;
    border: none;
    border-radius: 0.5em;
    padding: 1rem;
    font-size: 1em;
    background: #fafafa;
    border-right: 1rem solid #fafafa;
    cursor: pointer;
}

.list:focus {
    outline: none;
}

.showSmall {
    display: none;
}

.showLarge {
    display: flex;
}

.interactivesBox {
    display: flex;
    gap: 1em
}

@media (max-width: 600px) {
    .list {
        width: 100%;
    }

    .showSmall {
        display: flex;
    }

    .showLarge {
        display: none;
    }

    .interactivesBox {
        flex-direction: column;
    }

}



.scrollBox {
    height: 50vh;
    min-width: 50vw;
    max-width: 70vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #555;
    border-radius: 0.5em;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: anywhere;
}

.loader {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    animation: load 2s infinite linear, stretch 0.3s infinite ease-in-out;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes stretch {
    0% {
        letter-spacing: normal;
    }

    50% {
        letter-spacing: 0.2em;
    }

    100% {
        letter-spacing: normal;
    }
}